In [3]:
import pandas as pd

In [4]:
data = {
"name": ["张三", "李四", "王五", "李四", "王五", "王五", "赵六"],
"chinese": [18, 53, 67, 63, 39, 70, 94],
"math": [82, 63, 41, 59, 46, 39, 58],
"english": [68, 52, 90, 86, 60, 98, 64],
"week": ["周一", "周二", "周二", "周二", "周二", "周二", "周二"],

}

In [5]:
print(data)

{'name': ['张三', '李四', '王五', '李四', '王五', '王五', '赵六'], 'chinese': [18, 53, 67, 63, 39, 70, 94], 'math': [82, 63, 41, 59, 46, 39, 58], 'english': [68, 52, 90, 86, 60, 98, 64], 'week': ['周一', '周二', '周二', '周二', '周二', '周二', '周二']}

In [6]:
# 数据不好观察将数据进行二维化处理
df = pd.DataFrame(data)
print(df)

  name  chinese  math  english week
0   张三       18    82       68   周一
1   李四       53    63       52   周二
2   王五       67    41       90   周二
3   李四       63    59       86   周二
4   王五       39    46       60   周二
5   王五       70    39       98   周二
6   赵六       94    58       64   周二

In [ ]:
# 数据方便查看之后开始进行数据的查找

In [10]:
# 查看数据的info数据
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     7 non-null      object
 1   chinese  7 non-null      int64
 2   math     7 non-null      int64
 3   english  7 non-null      int64
 4   week     7 non-null      object
dtypes: int64(3), object(2)
memory usage: 412.0+ bytes
None

In [11]:
# 查看数据的describe数据
print(df.describe())

         chinese       math    english
count   7.000000   7.000000   7.000000
mean   57.714286  55.428571  74.000000
std    24.260491  14.998413  17.281975
min    18.000000  39.000000  52.000000
25%    46.000000  43.500000  62.000000
50%    63.000000  58.000000  68.000000
75%    68.500000  61.000000  88.000000
max    94.000000  82.000000  98.000000

In [12]:
# 获取头部数据
print(df.head())

  name  chinese  math  english week
0   张三       18    82       68   周一
1   李四       53    63       52   周二
2   王五       67    41       90   周二
3   李四       63    59       86   周二
4   王五       39    46       60   周二

In [13]:
# 获取name的标签页
print(df.loc[:,'name'])

0    张三
1    李四
2    王五
3    李四
4    王五
5    王五
6    赵六
Name: name, dtype: object