In [1]:
# 导入pandas模块
import pandas as pd

In [3]:
# 在电商数据分析中已经修改了错误的数据类型现在查看是否还有没有别的错误
# 读取修改之后的excel表格"shop_new.xlsx"
shop = pd.read_excel("shop_new.xlsx",None)  # 加上None是为了读取全部表格的数据
shop  # 数据类型为字典 调用键可获得值

{'订单信息':          订单ID    客户ID  订单状态  优惠类型
 0       47739    5245     1     0
 1      341269    5245     0     0
 2       32690    5254     1     0
 3       45641    5254     1     0
 4       66116    5254     1     0
 ...       ...     ...   ...   ...
 29145  446758  169934     1     1
 29146  446759  169934     1     0
 29147  447165  169976     0     1
 29148  447274  169976     0     1
 29149  447375  169976     1     1

 [29150 rows x 4 columns],
 '货物信息':         订单ID    货物ID      货物名称 优惠额度   省份
 0     264971  103247  自然乐园水果礼盒  >15  湖北省
 1     264994  103247  自然乐园水果礼盒  >15  北京市
 2     266829  103247  自然乐园水果礼盒  >15  福建省
 3     267232  103247  自然乐园水果礼盒  >15  北京市
 4     269051  103247  自然乐园水果礼盒  >15  北京市
 ...      ...     ...       ...  ...  ...
 3125  282903  103376   500元充值卡    0  山东省
 3126  283994  103376   500元充值卡    0  福建省
 3127  284171  103376   500元充值卡    0  安徽省
 3128  256095  103376   500元充值卡    0  天津市
 3129  256499  103376   500元充值卡    0  福建省

 [3130 rows x 5 columns],
 '顾客信息':         客户ID  登陆次数  经验值  订单数
 0       5245    55  206    1
 1       5254    69  428   13
 2       5286    60  280    1
 3       5292   184  643    5
 4       5474    71   61    2
 ...      ...   ...  ...  ...
 2995  169699    20  153    3
 2996  169815    13   57    1
 2997  169832    12   62    1
 2998  169934    14   68    2
 2999  169976    16   27    1

 [3000 rows x 4 columns]}

In [ ]:
# 发现数据无误之后开始调用键来访问值
# 并定义三个变量来接受数据

In [4]:
# 发现数据无误之后开始调用键来访问值
#订单信息
shops = shop['订单信息']
shops

         订单ID    客户ID  订单状态  优惠类型
0       47739    5245     1     0
1      341269    5245     0     0
2       32690    5254     1     0
3       45641    5254     1     0
4       66116    5254     1     0
...       ...     ...   ...   ...
29145  446758  169934     1     1
29146  446759  169934     1     0
29147  447165  169976     0     1
29148  447274  169976     0     1
29149  447375  169976     1     1

[29150 rows x 4 columns]

In [5]:
# 货物信息
goods = shop['货物信息']
goods

        订单ID    货物ID      货物名称 优惠额度   省份
0     264971  103247  自然乐园水果礼盒  >15  湖北省
1     264994  103247  自然乐园水果礼盒  >15  北京市
2     266829  103247  自然乐园水果礼盒  >15  福建省
3     267232  103247  自然乐园水果礼盒  >15  北京市
4     269051  103247  自然乐园水果礼盒  >15  北京市
...      ...     ...       ...  ...  ...
3125  282903  103376   500元充值卡    0  山东省
3126  283994  103376   500元充值卡    0  福建省
3127  284171  103376   500元充值卡    0  安徽省
3128  256095  103376   500元充值卡    0  天津市
3129  256499  103376   500元充值卡    0  福建省

[3130 rows x 5 columns]

In [7]:
# 客户信息
cus = shop['顾客信息']
cus

        客户ID  登陆次数  经验值  订单数
0       5245    55  206    1
1       5254    69  428   13
2       5286    60  280    1
3       5292   184  643    5
4       5474    71   61    2
...      ...   ...  ...  ...
2995  169699    20  153    3
2996  169815    13   57    1
2997  169832    12   62    1
2998  169934    14   68    2
2999  169976    16   27    1

[3000 rows x 4 columns]

In [ ]:
# 经过检查发现 在经过数据分析更正过的excel表格中
# sheet表格 顾客信息中的的订单数一列 和 订单信息中订单状态为1的一列数据
# 有些数据有差错 需要更改
# 因 订单信息状态为1的数据为准确数据 所以要将 订单数进行修改

In [36]:
# 进行循环获取到 顾客信息表格中客户ID一列的全部数据
for id in cus.客户ID: # 设置循环获取到顾客信息这个sheet表格中的客户ID
    # 设置变量c1 接受订单信息这个sheet表格中客户ID 和订单状态等于1的数据
    c1 = shops[(shops.客户ID==id)&(shops.订单状态==1)].shape[0]
    # 设置变量c2 接受查找到的客户信息这个sheet表格中 的订单数 
    # 本行代码意为寻找到循环时的ID 并获取他的订单数 .values[0]可以获取具体的订单数据
    c2 = cus.loc[cus.客户ID==id,'订单数'].values[0]
    # 进行判断 如果c1 和c2 的数据不同就将c2中错误的数据进行修改
    if c1 != c2:
        cus.loc[cus.客户ID==id,'订单数']=c1
print('数据修改完成')

数据修改完成

In [ ]:
# 数据全部修改好之后开始进行excel表格的更新

In [35]:
# 创建一个excel表格接受数据
write = pd.ExcelWriter("shop_new_1.xlsx")
shops.to_excel(write,sheet_name="订单信息",index=False)
goods.to_excel(write,sheet_name="货物信息",index=False)
cus.to_excel(write,sheet_name="顾客信息",index=False)
# 数据全部写入完毕开始保存
write._save()