In [1]:
# 导入pandas模块
import pandas as pd

In [5]:
# 经过之前两次的查看已经就数据全部修改完毕
# 现在读取excel表格开始 
shop = pd.read_excel('shop_new_1.xlsx',None)
shop

{'订单信息':          订单ID    客户ID  订单状态  优惠类型
 0       47739    5245     1     0
 1      341269    5245     0     0
 2       32690    5254     1     0
 3       45641    5254     1     0
 4       66116    5254     1     0
 ...       ...     ...   ...   ...
 29145  446758  169934     1     1
 29146  446759  169934     1     0
 29147  447165  169976     0     1
 29148  447274  169976     0     1
 29149  447375  169976     1     1

 [29150 rows x 4 columns],
 '货物信息':         订单ID    货物ID      货物名称 优惠额度   省份
 0     264971  103247  自然乐园水果礼盒  >15  湖北省
 1     264994  103247  自然乐园水果礼盒  >15  北京市
 2     266829  103247  自然乐园水果礼盒  >15  福建省
 3     267232  103247  自然乐园水果礼盒  >15  北京市
 4     269051  103247  自然乐园水果礼盒  >15  北京市
 ...      ...     ...       ...  ...  ...
 3125  282903  103376   500元充值卡    0  山东省
 3126  283994  103376   500元充值卡    0  福建省
 3127  284171  103376   500元充值卡    0  安徽省
 3128  256095  103376   500元充值卡    0  天津市
 3129  256499  103376   500元充值卡    0  福建省

 [3130 rows x 5 columns],
 '顾客信息':         客户ID  登陆次数  经验值  订单数
 0       5245    55  206    1
 1       5254    69  428    9
 2       5286    60  280    2
 3       5292   184  643    6
 4       5474    71   61    2
 ...      ...   ...  ...  ...
 2995  169699    20  153    2
 2996  169815    13   57    1
 2997  169832    12   62    1
 2998  169934    14   68    2
 2999  169976    16   27    1

 [3000 rows x 4 columns]}

In [ ]:
# 数据读取完毕开始接受数据

In [6]:
# 订单信息
orders = shop['订单信息']
orders

         订单ID    客户ID  订单状态  优惠类型
0       47739    5245     1     0
1      341269    5245     0     0
2       32690    5254     1     0
3       45641    5254     1     0
4       66116    5254     1     0
...       ...     ...   ...   ...
29145  446758  169934     1     1
29146  446759  169934     1     0
29147  447165  169976     0     1
29148  447274  169976     0     1
29149  447375  169976     1     1

[29150 rows x 4 columns]

In [7]:
# 货物信息
goods = shop['货物信息']
goods

        订单ID    货物ID      货物名称 优惠额度   省份
0     264971  103247  自然乐园水果礼盒  >15  湖北省
1     264994  103247  自然乐园水果礼盒  >15  北京市
2     266829  103247  自然乐园水果礼盒  >15  福建省
3     267232  103247  自然乐园水果礼盒  >15  北京市
4     269051  103247  自然乐园水果礼盒  >15  北京市
...      ...     ...       ...  ...  ...
3125  282903  103376   500元充值卡    0  山东省
3126  283994  103376   500元充值卡    0  福建省
3127  284171  103376   500元充值卡    0  安徽省
3128  256095  103376   500元充值卡    0  天津市
3129  256499  103376   500元充值卡    0  福建省

[3130 rows x 5 columns]

In [8]:
# 顾客信息
cus = shop['顾客信息']
cus

        客户ID  登陆次数  经验值  订单数
0       5245    55  206    1
1       5254    69  428    9
2       5286    60  280    2
3       5292   184  643    6
4       5474    71   61    2
...      ...   ...  ...  ...
2995  169699    20  153    2
2996  169815    13   57    1
2997  169832    12   62    1
2998  169934    14   68    2
2999  169976    16   27    1

[3000 rows x 4 columns]

In [ ]:
# 下面完成甲方需求
# 分析下平台的订单情况、商品情况
# 获取打折商品和不打折商品的销量前十和后十个
# .groupby("货物名称") 的意思为按货物名称分组 相同货物名称的货物为一组
# .size()可以获取 分组之后每一组的数量
# .sort_values() 可以进行排序 默认是升序

In [33]:
# 获取不打折商品销量的后10个
goods[goods.优惠额度=="0"].groupby('货物名称').size().sort_values().head(10)

货物名称
297元充值卡      1
296元充值卡      1
295元充值卡      1
294元充值卡      1
38俪人节伴手礼卡    1
300元充值卡      1
299元充值卡      1
298元充值卡      1
不二家棒棒糖水果味    1
Sweet        1
dtype: int64

In [34]:
# 获取不打折商品销量的前10个
goods[goods.优惠额度=="0"].groupby('货物名称').size().sort_values().tail(10)

货物名称
好迪             35
福临门丝苗米         36
土飞鸡            37
冰糖橙            40
金堂脐橙           42
静宁小苹果          48
新希望酸奶初心        50
冷冻鲜肉           51
安慕希希腊酸奶（原味）    57
海南香蕉           60
dtype: int64

In [35]:
# 获取打折商品销量的后十个
goods[goods.优惠额度!="0"].groupby('货物名称').size().sort_values().head(10)

货物名称
中坝口蘑头鲜酱油        1
中坝面条鲜酱油         1
五丰寒地长粒香米        1
午后茶园大麦茶         1
可口可乐            1
散装巴旦木           1
岩鹰鸡             1
思念手打天下猪肉韭菜水饺    1
成都老酸奶           1
散装开口松子          1
dtype: int64

In [37]:
# 获取打折商品销量的前十个
goods[goods.优惠额度!="0"].groupby('货物名称').size().sort_values().tail(10)

货物名称
小白菜                34
新土豆                34
云南青枣               37
西红柿                38
小葱                 39
泰国龙眼【进口商品】800g     39
青椒                 41
藕                  54
蒲江不知火丑柑【原产地直供】     61
蒲江耙耙柑             118
dtype: int64

In [ ]:
总结：
    销量前十名的商品是 xxx  可以考虑继续推广  增加商品的铺货
    销量后十名的商品  xxx   可以考虑打折  也可以考虑下架   如果对这个商品有信心 也可以继续推广

In [ ]:
# 核心需求：分离在本电商平台购物的无价值用用户
# 无价值用户标准 在成交的所有商品中 优惠商品的占比在75%及以上的

In [39]:
# 想要查看购买的优惠商品和无优惠商品的数量 先要获取全部成交商品的数据
res = orders[orders.订单状态==1]
res

         订单ID    客户ID  订单状态  优惠类型
0       47739    5245     1     0
2       32690    5254     1     0
3       45641    5254     1     0
4       66116    5254     1     0
5       79014    5254     1     0
...       ...     ...   ...   ...
29143  445884  169815     1     1
29144  447102  169832     1     1
29145  446758  169934     1     1
29146  446759  169934     1     0
29149  447375  169976     1     1

[24137 rows x 4 columns]

In [40]:
# 获取到数据后要使用数据交叉表更直观的看出客户购买货物的情况
all = pd.crosstab(res.客户ID,res.优惠类型)
all # 0和1表示的是优惠类型  0是无优惠 1是有优惠

优惠类型    0  1
客户ID
5245    1  0
5254    8  1
5286    1  1
5292    4  2
5474    1  1
...    .. ..
169699  1  1
169815  0  1
169832  0  1
169934  1  1
169976  0  1

[3000 rows x 2 columns]

In [42]:
# 表格制作完成开始获取有价值用户的ID
# all[0] 无优惠订单的数量  all[1]有优惠订单的数量     all[0]表示获取优惠类型为0的数据

In [45]:
p = all[all[0]/(all[0]+all[1])>=0.75] 
p

优惠类型     0   1
客户ID
5245     1   0
5254     8   1
5544    75  16
5625    10   2
5699    85  17
...     ..  ..
169031   1   0
169049   1   0
169084   1   0
169393   3   0
169445   1   0

[293 rows x 2 columns]

In [46]:
# 发现不好统计客户ID加入index索引
p = all[all[0]/(all[0]+all[1])>=0.75].index
p

Index([  5245,   5254,   5544,   5625,   5699,   5701,   5727,   5816,   5912,
         5975,
       ...
       160088, 160727, 161232, 166450, 167543, 169031, 169049, 169084, 169393,
       169445],
      dtype='int64', name='客户ID', length=293)

In [48]:
# 加入values获取index的值
p = all[all[0]/(all[0]+all[1])>=0.75].index.values
p

array([  5245,   5254,   5544,   5625,   5699,   5701,   5727,   5816,
         5912,   5975,   5999,   6030,   6045,   6218,   6443,   6449,
         7370,   7372,   7388,   7528,   8060,  10353,  10435,  10633,
        10666,  10683,  10793,  10804,  10857,  10873,  11243,  11252,
        11269,  11541,  11919,  12039,  12590,  13740,  13798,  14057,
        16965,  19736,  21234,  21283,  21452,  23251,  23364,  23626,
        23637,  23801,  24278,  24305,  24765,  24893,  25046,  25050,
        25064,  25068,  25129,  25270,  25307,  25311,  25495,  25522,
        25564,  25587,  25608,  25616,  25859,  25989,  25991,  26059,
        26108,  26129,  26133,  26172,  26449,  26645,  26913,  26930,
        26931,  27003,  27103,  27289,  27491,  27566,  27688,  27754,
        27794,  27887,  27888,  28087,  28650,  28692,  28804,  29456,
        29505,  29629,  29998,  30974,  31007,  31524,  31525,  31881,
        32429,  32997,  33351,  33395,  33446,  33475,  33937,  34220,
        34221,  34262,  34372,  34432,  34606,  34616,  34618,  34622,
        35204,  35454,  37430,  37481,  37517,  37577,  37732,  37743,
        37846,  38199,  38329,  38447,  38476,  39619,  40348,  40395,
        40634,  41442,  41928,  42106,  42226,  42427,  43262,  43289,
        43497,  43763,  44268,  44469,  44555,  44591,  44937,  45267,
        45422,  45644,  45931,  46752,  46995,  47448,  47562,  47637,
        47997,  49011,  49592,  50462,  50971,  51173,  51286,  51317,
        51318,  51325,  51765,  51771,  51778,  51893,  52411,  52456,
        52562,  52707,  52720,  54287,  54373,  63173,  65338,  65399,
        66497,  66878,  67283,  70046,  70205,  70929,  71382,  71427,
        72037,  72905,  72914,  73953,  74220,  74645,  74925,  75565,
        77253,  77499,  77670,  91938,  92506, 106784, 107741, 107920,
       108322, 109168, 109178, 109227, 109369, 109437, 109518, 109677,
       109737, 109891, 110553, 111201, 111263, 112481, 113615, 113812,
       114021, 117250, 117281, 117340, 117654, 118466, 119129, 119351,
       119417, 120034, 120158, 120193, 120633, 121189, 121324, 121340,
       121673, 122003, 122978, 123577, 124451, 125756, 125770, 126169,
       126256, 126849, 127103, 127981, 128121, 129262, 129875, 130144,
       130838, 130917, 131113, 131572, 132875, 133669, 134639, 135706,
       135722, 135790, 137296, 137501, 137731, 138427, 138945, 141841,
       143741, 144501, 144516, 144720, 149823, 149972, 150725, 153909,
       153977, 155754, 158727, 160088, 160727, 161232, 166450, 167543,
       169031, 169049, 169084, 169393, 169445])

In [50]:
# 现在数据方便统计了 获取到了所有有价值用户的ID
# 加入一列新数据标记哪些是有价值用户哪些是无价值用户
# 添加新的列数据
cus['客户分类'] = 0   # 在顾客信息这个sheet表格内添加一列 客户分类的数据 数据的值是0
cus

        客户ID  登陆次数  经验值  订单数  客户分类
0       5245    55  206    1     0
1       5254    69  428    9     0
2       5286    60  280    2     0
3       5292   184  643    6     0
4       5474    71   61    2     0
...      ...   ...  ...  ...   ...
2995  169699    20  153    2     0
2996  169815    13   57    1     0
2997  169832    12   62    1     0
2998  169934    14   68    2     0
2999  169976    16   27    1     0

[3000 rows x 5 columns]

In [ ]:
# 将有价值用户和无价值用户的对应数据导入表格 重写客户分类的数据
# 因为甲方主要需求为分离用户  所以要重置索引 
# 数字索引重置为 用客户ID进行索引 用来查看是有价值用户和无价值用户
# 重置索引要使用set_index

In [51]:
cus2 = cus.set_index('客户ID')
cus2

        登陆次数  经验值  订单数  客户分类
客户ID
5245      55  206    1     0
5254      69  428    9     0
5286      60  280    2     0
5292     184  643    6     0
5474      71   61    2     0
...      ...  ...  ...   ...
169699    20  153    2     0
169815    13   57    1     0
169832    12   62    1     0
169934    14   68    2     0
169976    16   27    1     0

[3000 rows x 4 columns]

In [74]:
# 索引设置完毕开始进行 雷夫分类一列数据的重写
cus2.loc[p,"客户分类"]=1
cus2

        登陆次数  经验值  订单数 客户分类
客户ID
5245      55  206    1    1
5254      69  428    9    1
5286      60  280    2    0
5292     184  643    6    0
5474      71   61    2    0
...      ...  ...  ...  ...
169699    20  153    2    0
169815    13   57    1    0
169832    12   62    1    0
169934    14   68    2    0
169976    16   27    1    0

[3000 rows x 4 columns]

In [53]:
# 查看有价值用户和无价值用户的具体个数
data = cus2.groupby('客户分类')
data

In [54]:
# 加入.mean()可以获取具体数据
data = cus2.groupby('客户分类').mean()
data

            登陆次数         经验值        订单数
客户分类
0     154.053565  644.876247   7.593277
1     187.696246  926.266212  12.225256

In [56]:
#.rename(0:'无价值用户',1:'有价值用户') 对0和1进行重命名  .astype(int)将数据转化为整形
data = cus2.groupby('客户分类').mean().rename({0:'无价值用户',1:'有价值用户'}).astype(int)
data

       登陆次数  经验值  订单数
客户分类
无价值用户   154  644    7
有价值用户   187  926   12

In [58]:
# 甲方需求解决完毕开始生成excel表格
w=pd.ExcelWriter("shpo_end.xlsx")
orders.to_excel(w,sheet_name="订单信息",index=False)
goods.to_excel(w,sheet_name="货物信息",index=False)
cus2.to_excel(w,sheet_name="客户信息",index=False)
w._save()