In [1]:
import pandas as pd

In [2]:
# 拿到数据的第一步就先接收数据然后检查数据

In [4]:
# 读取excel表格并获取数据
shop = pd.read_excel('shop.xlsx',None)
shop

{'订单信息':          订单ID    客户ID  订单状态  优惠类型
 0       47739    5245     1     0
 1      341269    5245     0     0
 2       32690    5254     1     0
 3       45641    5254     1     0
 4       66116    5254     1     0
 ...       ...     ...   ...   ...
 29145  446758  169934     1     1
 29146  446759  169934     1     0
 29147  447165  169976     0     1
 29148  447274  169976     0     1
 29149  447375  169976     1     1

 [29150 rows x 4 columns],
 '货物信息':         订单ID    货物ID      货物名称 优惠额度   省份
 0     264971  103247  自然乐园水果礼盒  >15  湖北省
 1     264994  103247  自然乐园水果礼盒  >15  北京市
 2     266829  103247  自然乐园水果礼盒  >15  福建省
 3     267232  103247  自然乐园水果礼盒  >15  北京市
 4     269051  103247  自然乐园水果礼盒  >15  北京市
 ...      ...     ...       ...  ...  ...
 3125  282903  103376   500元充值卡    0  山东省
 3126  283994  103376   500元充值卡    0  福建省
 3127  284171  103376   500元充值卡    0  安徽省
 3128  256095  103376   500元充值卡    0  天津市
 3129  256499  103376   500元充值卡    0  福建省

 [3130 rows x 5 columns],
 '顾客信息':         客户ID  登陆次数  经验值 订单数
 0       5245    55  206   1
 1       5254    69  428  13
 2       5286    60  280   1
 3       5292   184  643   5
 4       5474    71   61   2
 ...      ...   ...  ...  ..
 2995  169699    20  153   3
 2996  169815    13   57   1
 2997  169832    12   62   1
 2998  169934    14   68   2
 2999  169976    16   27   1

 [3000 rows x 4 columns]}

In [ ]:
# 获取数据之后发现数据有3个sheet表格 分别为 订单信息 货物信息 顾客信息
# 开始定义变量接收信息

In [8]:
# 定义变量接收订单信息  
orders = shop['订单信息']
orders

         订单ID    客户ID  订单状态  优惠类型
0       47739    5245     1     0
1      341269    5245     0     0
2       32690    5254     1     0
3       45641    5254     1     0
4       66116    5254     1     0
...       ...     ...   ...   ...
29145  446758  169934     1     1
29146  446759  169934     1     0
29147  447165  169976     0     1
29148  447274  169976     0     1
29149  447375  169976     1     1

[29150 rows x 4 columns]

In [9]:
# 定义变量接收 货物信息
goods = shop['货物信息']
goods

        订单ID    货物ID      货物名称 优惠额度   省份
0     264971  103247  自然乐园水果礼盒  >15  湖北省
1     264994  103247  自然乐园水果礼盒  >15  北京市
2     266829  103247  自然乐园水果礼盒  >15  福建省
3     267232  103247  自然乐园水果礼盒  >15  北京市
4     269051  103247  自然乐园水果礼盒  >15  北京市
...      ...     ...       ...  ...  ...
3125  282903  103376   500元充值卡    0  山东省
3126  283994  103376   500元充值卡    0  福建省
3127  284171  103376   500元充值卡    0  安徽省
3128  256095  103376   500元充值卡    0  天津市
3129  256499  103376   500元充值卡    0  福建省

[3130 rows x 5 columns]

In [10]:
# 定义变量接收顾客信息
cus = shop['顾客信息']
cus

        客户ID  登陆次数  经验值 订单数
0       5245    55  206   1
1       5254    69  428  13
2       5286    60  280   1
3       5292   184  643   5
4       5474    71   61   2
...      ...   ...  ...  ..
2995  169699    20  153   3
2996  169815    13   57   1
2997  169832    12   62   1
2998  169934    14   68   2
2999  169976    16   27   1

[3000 rows x 4 columns]

In [ ]:
# 数据接收完毕开始检查数据是否正确

In [11]:
# 检查订单信息的数据
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29150 entries, 0 to 29149
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单ID    29150 non-null  int64
 1   客户ID    29150 non-null  int64
 2   订单状态    29150 non-null  int64
 3   优惠类型    29150 non-null  int64
dtypes: int64(4)
memory usage: 911.1 KB

In [12]:
# 检查货物信息
goods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3130 entries, 0 to 3129
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单ID    3130 non-null   int64
 1   货物ID    3130 non-null   int64
 2   货物名称    3130 non-null   object
 3   优惠额度    3130 non-null   object
 4   省份      3130 non-null   object
dtypes: int64(2), object(3)
memory usage: 122.4+ KB

In [14]:
# 检查顾客信息
cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   客户ID    3000 non-null   int64
 1   登陆次数    3000 non-null   int64
 2   经验值     3000 non-null   int64
 3   订单数     3000 non-null   object
dtypes: int64(3), object(1)
memory usage: 93.9+ KB

In [ ]:
# 检查之后发现订单数应该为int数据但数据的结果为object数据说明
# 顾客信息中的订单数这一列数据有错误

In [21]:
# 因为顾客信息中的订单数这一列数据有错误现在开始编写代码定位有问题的数据
# 因sheet表格内的数据过多可以通过循环查找数据
# index 代表没一行的索引 row 代表每一行的数据  cus.iterrows() 代表循环的是cus中的数据
for index,row in cus.iterrows():
    if type(row['订单数']) != int:
        print('这一行数据有问题',index,row)

这一行数据有问题 46 客户ID    6243
登陆次数    2829
经验值     1172
订单数      8a3
Name: 46, dtype: object

In [ ]:
# 查看到有错位的数据
# 第46行的订单数出现错误 
# 查看到数据错误后开始修改
# 要找到目标数据的全部订单数  找数据显示为1的订单  在订单信息一个sheet表格内查找

In [51]:
orders[(orders.客户ID==6243) & (orders.订单状态==1)].shape

(124, 4)

In [55]:
# 使用loc方法查找数据
cus.loc[46,"订单数"]=orders[(orders.客户ID==6243) & (orders.订单状态==1)].shape[0]

In [56]:
cus.loc[46,'订单数']

124

In [ ]:
# 数据修改完毕之后开始生成新的列表

In [ ]:
# 将修改好的excel表格写入

In [64]:
# 创建新的excel表格
writer = pd.ExcelWriter("shop_new.xlsx")
# excel表格创建完毕之后开始写入数据
orders.to_excel(
    writer,
    sheet_name="订单信息",
    index = False
)
goods.to_excel(
    writer,
    sheet_name="货物信息",
    index = False
)
cus.to_excel(
    writer,
    sheet_name="顾客信息",
    index = False
)

In [65]:
# 保存文件
writer._save()