In [3]:
import pandas as pd
import numpy as np
import time
from pyecharts.charts import *
# 绘制图形时候必须要的模块  没有的话图形显示不出来
from pyecharts.globals import CurrentConfig, NotebookType
CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB
# 导入自定义图形外观的模块
from pyecharts import options as opts
from sqlalchemy import create_engine

In [5]:
# 读取数据
res = pd.read_excel('资料/sales.xlsx',None)
res

{'2015':               会员ID         订单号       提交日期    订单金额
 0      15278002468  3000304681 2015-01-01   499.0
 1      39236378972  3000305791 2015-01-01  2588.0
 2      38722039578  3000641787 2015-01-01   498.0
 3      11049640063  3000798913 2015-01-01  1572.0
 4      35038752292  3000821546 2015-01-01    10.1
 ...            ...         ...        ...     ...
 30769  39368100847  4281994827 2015-12-31   828.0
 30770       409757  4282010457 2015-12-31   199.0
 30771  38380526114  4282017675 2015-12-31   208.0
 30772     28074988  4282019440 2015-12-31    89.0
 30773  39460363230  4282025309 2015-12-31   719.0

 [30774 rows x 4 columns],
 '2016':               会员ID         订单号       提交日期     订单金额
 0      39288120141  4282025766 2016-01-01    76.00
 1      39293812118  4282037929 2016-01-01  7599.00
 2      27596340905  4282038740 2016-01-01   802.00
 3      15111475509  4282043819 2016-01-01    65.00
 4      38896594001  4282051044 2016-01-01    95.00
 ...            ...         ...        ...      ...
 41273  35336052906  4324910145 2016-12-31    99.00
 41274  39305835721  4324910148 2016-12-31   238.89
 41275  39296945352  4324910770 2016-12-31   765.00
 41276  14791026234  4324911025 2016-12-31    45.80
 41277  16779755770  4324911048 2016-12-31   119.00

 [41278 rows x 4 columns],
 '2017':               会员ID         订单号       提交日期    订单金额
 0      38765290840  4324911135 2017-01-01  1799.0
 1      39305832102  4324911213 2017-01-01   369.0
 2      34190994969  4324911251 2017-01-01   189.0
 3      38986333210  4324911283 2017-01-01   169.0
 4          4271359  4324911355 2017-01-01    78.0
 ...            ...         ...        ...     ...
 50834  39155833075  4338762307 2017-12-31    96.0
 50835  29523124076  4338762514 2017-12-31    99.0
 50836      7807573  4338762906 2017-12-31   258.0
 50837  36642530033  4338762958 2017-12-31   286.0
 50838  39155901156  4338763879 2017-12-31   249.0

 [50839 rows x 4 columns],
 '2018':               会员ID         订单号       提交日期    订单金额
 0      39229691808  4338764262 2018-01-01  3646.0
 1      39293668916  4338764363 2018-01-01  3999.0
 2      35059646224  4338764376 2018-01-01    10.1
 3          1084397  4338770013 2018-01-01   828.0
 4          3349915  4338770121 2018-01-01  3758.0
 ...            ...         ...        ...     ...
 81344  39229485704  4354225182 2018-12-31   249.0
 81345  39229021075  4354225188 2018-12-31    89.0
 81346  39288976750  4354230034 2018-12-31    48.5
 81347     26772630  4354230163 2018-12-31  3196.0
 81348  39455580335  4354235084 2018-12-31  2999.0

 [81349 rows x 4 columns],
 '会员等级':                会员ID  会员等级
 0            100090     3
 1       10012905801     1
 2       10012935109     1
 3       10013498043     1
 4       10014087899     4
 ...             ...   ...
 154380       998138     3
 154381       998298     1
 154382       998571     4
 154383       999563     4
 154384       999951     1

 [154385 rows x 2 columns]}

In [6]:
# 读取2015年的数据
y_2015=res['2015']
y_2015

              会员ID         订单号       提交日期    订单金额
0      15278002468  3000304681 2015-01-01   499.0
1      39236378972  3000305791 2015-01-01  2588.0
2      38722039578  3000641787 2015-01-01   498.0
3      11049640063  3000798913 2015-01-01  1572.0
4      35038752292  3000821546 2015-01-01    10.1
...            ...         ...        ...     ...
30769  39368100847  4281994827 2015-12-31   828.0
30770       409757  4282010457 2015-12-31   199.0
30771  38380526114  4282017675 2015-12-31   208.0
30772     28074988  4282019440 2015-12-31    89.0
30773  39460363230  4282025309 2015-12-31   719.0

[30774 rows x 4 columns]

In [7]:
# 读取2016年的数据
y_2016=res['2016']
y_2016

              会员ID         订单号       提交日期     订单金额
0      39288120141  4282025766 2016-01-01    76.00
1      39293812118  4282037929 2016-01-01  7599.00
2      27596340905  4282038740 2016-01-01   802.00
3      15111475509  4282043819 2016-01-01    65.00
4      38896594001  4282051044 2016-01-01    95.00
...            ...         ...        ...      ...
41273  35336052906  4324910145 2016-12-31    99.00
41274  39305835721  4324910148 2016-12-31   238.89
41275  39296945352  4324910770 2016-12-31   765.00
41276  14791026234  4324911025 2016-12-31    45.80
41277  16779755770  4324911048 2016-12-31   119.00

[41278 rows x 4 columns]

In [8]:
# 读取2017年的数据
y_2017=res['2017']
y_2017

              会员ID         订单号       提交日期    订单金额
0      38765290840  4324911135 2017-01-01  1799.0
1      39305832102  4324911213 2017-01-01   369.0
2      34190994969  4324911251 2017-01-01   189.0
3      38986333210  4324911283 2017-01-01   169.0
4          4271359  4324911355 2017-01-01    78.0
...            ...         ...        ...     ...
50834  39155833075  4338762307 2017-12-31    96.0
50835  29523124076  4338762514 2017-12-31    99.0
50836      7807573  4338762906 2017-12-31   258.0
50837  36642530033  4338762958 2017-12-31   286.0
50838  39155901156  4338763879 2017-12-31   249.0

[50839 rows x 4 columns]

In [9]:
# 读取2018年的数据
y_2018=res['2018']
y_2018

              会员ID         订单号       提交日期    订单金额
0      39229691808  4338764262 2018-01-01  3646.0
1      39293668916  4338764363 2018-01-01  3999.0
2      35059646224  4338764376 2018-01-01    10.1
3          1084397  4338770013 2018-01-01   828.0
4          3349915  4338770121 2018-01-01  3758.0
...            ...         ...        ...     ...
81344  39229485704  4354225182 2018-12-31   249.0
81345  39229021075  4354225188 2018-12-31    89.0
81346  39288976750  4354230034 2018-12-31    48.5
81347     26772630  4354230163 2018-12-31  3196.0
81348  39455580335  4354235084 2018-12-31  2999.0

[81349 rows x 4 columns]

In [10]:
# 读取会员等级的数据
rank = res['会员等级']
rank

               会员ID  会员等级
0            100090     3
1       10012905801     1
2       10012935109     1
3       10013498043     1
4       10014087899     4
...             ...   ...
154380       998138     3
154381       998298     1
154382       998571     4
154383       999563     4
154384       999951     1

[154385 rows x 2 columns]

In [11]:
# 查看 2015 年数据的基本信息
y_2015.info()
y_2015.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30774 entries, 0 to 30773
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    30774 non-null  int64
 1   订单号     30774 non-null  int64
 2   提交日期    30774 non-null  datetime64[ns]
 3   订单金额    30774 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 961.8 KB

,会员ID,订单号,提交日期,订单金额
count,3.077400e+04,3.077400e+04,30774,30774.000000
mean,2.918779e+10,4.020414e+09,2015-07-01 20:55:49.424839168,960.991161
min,2.670000e+02,3.000305e+09,2015-01-01 00:00:00,0.500000
25%,1.944122e+10,3.885510e+09,2015-04-02 00:00:00,59.000000
50%,3.746545e+10,4.117491e+09,2015-07-02 00:00:00,139.000000
75%,3.923593e+10,4.234882e+09,2015-10-01 00:00:00,899.000000
max,3.954613e+10,4.282025e+09,2015-12-31 00:00:00,111750.000000
std,1.385333e+10,2.630510e+08,NaN,2068.107231

In [12]:
# 查看 2016 年数据的基本信息
y_2016.info()
y_2016.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41278 entries, 0 to 41277
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    41278 non-null  int64
 1   订单号     41278 non-null  int64
 2   提交日期    41278 non-null  datetime64[ns]
 3   订单金额    41277 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.3 MB

,会员ID,订单号,提交日期,订单金额
count,4.127800e+04,4.127800e+04,41278,41277.000000
mean,2.908415e+10,4.313583e+09,2016-07-01 16:34:58.008624384,957.106694
min,8.100000e+01,4.282026e+09,2016-01-01 00:00:00,0.100000
25%,1.934990e+10,4.309457e+09,2016-04-01 00:00:00,59.000000
50%,3.730339e+10,4.317545e+09,2016-07-02 00:00:00,147.000000
75%,3.923182e+10,4.321132e+09,2016-10-01 00:00:00,888.000000
max,3.954554e+10,4.324911e+09,2016-12-31 00:00:00,174900.000000
std,1.389468e+10,1.094572e+07,NaN,2478.560036

In [13]:
# 查看 2017 年数据的基本信息
y_2017.info()
y_2017.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50839 entries, 0 to 50838
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    50839 non-null  int64
 1   订单号     50839 non-null  int64
 2   提交日期    50839 non-null  datetime64[ns]
 3   订单金额    50839 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.6 MB

,会员ID,订单号,提交日期,订单金额
count,5.083900e+04,5.083900e+04,50839,50839.000000
mean,2.882368e+10,4.332466e+09,2017-07-02 00:53:06.530025984,963.587872
min,2.780000e+02,4.324911e+09,2017-01-01 00:00:00,0.300000
25%,1.869274e+10,4.328415e+09,2017-04-01 00:00:00,59.000000
50%,3.688044e+10,4.331989e+09,2017-07-02 00:00:00,149.000000
75%,3.923020e+10,4.337515e+09,2017-10-02 00:00:00,898.000000
max,3.954554e+10,4.338764e+09,2017-12-31 00:00:00,123609.000000
std,1.409416e+10,4.404350e+06,NaN,2178.727261

In [14]:
# 查看 2018 年数据的基本信息
y_2018.info()
y_2018.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81349 entries, 0 to 81348
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    81349 non-null  int64
 1   订单号     81349 non-null  int64
 2   提交日期    81349 non-null  datetime64[ns]
 3   订单金额    81348 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 2.5 MB

,会员ID,订单号,提交日期,订单金额
count,8.134900e+04,8.134900e+04,81349,81348.000000
mean,2.902317e+10,4.348372e+09,2018-07-01 17:23:17.489827584,966.582792
min,2.780000e+02,4.338764e+09,2018-01-01 00:00:00,0.000000
25%,1.902755e+10,4.345654e+09,2018-04-01 00:00:00,60.000000
50%,3.740121e+10,4.349448e+09,2018-07-01 00:00:00,149.000000
75%,3.923380e+10,4.351639e+09,2018-10-01 00:00:00,899.000000
max,3.954614e+10,4.354235e+09,2018-12-31 00:00:00,174900.000000
std,1.404116e+10,4.183774e+06,NaN,2204.969534

In [15]:
# 查看 会员等级 数据的基本信息
rank.info()
rank.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    154385 non-null  int64
 1   会员等级    154385 non-null  int64
dtypes: int64(2)
memory usage: 2.4 MB

               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000

In [16]:
# 查看数据后发现 16 18 年数据出现缺失
# 且每年的销售金额的最小值异常需要进行处理

In [17]:
# 数据的预处理

In [18]:
# 将销售金额小于1的数据设置为nan
# 订单金额列中 ≤1 的值被替换为 NaN
y_2015['订单金额']=y_2015['订单金额'][y_2015['订单金额']>1]  # 将订单金额小于一的数据设置为nan
y_2015.dropna(inplace=True)
y_2015.info()
y_2016['订单金额']=y_2016['订单金额'][y_2016['订单金额']>1]  # 将订单金额小于一的数据设置为nan
y_2016.dropna(inplace=True)
y_2016.info()
y_2017['订单金额']=y_2017['订单金额'][y_2017['订单金额']>1]  # 将订单金额小于一的数据设置为nan
y_2017.dropna(inplace=True)
y_2017.info()
y_2018['订单金额']=y_2018['订单金额'][y_2018['订单金额']>1]  # 将订单金额小于一的数据设置为nan
y_2018.dropna(inplace=True)
y_2018.info()

# 索引不连续造成了 30574 entries, 0 to 30773 这种现象

<class 'pandas.core.frame.DataFrame'>
Index: 30574 entries, 0 to 30773
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    30574 non-null  int64
 1   订单号     30574 non-null  int64
 2   提交日期    30574 non-null  datetime64[ns]
 3   订单金额    30574 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
Index: 41001 entries, 0 to 41277
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    41001 non-null  int64
 1   订单号     41001 non-null  int64
 2   提交日期    41001 non-null  datetime64[ns]
 3   订单金额    41001 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.6 MB
<class 'pandas.core.frame.DataFrame'>
Index: 50451 entries, 0 to 50838
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    50451 non-null  int64
 1   订单号     50451 non-null  int64
 2   提交日期    50451 non-null  datetime64[ns]
 3   订单金额    50451 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.9 MB
<class 'pandas.core.frame.DataFrame'>
Index: 80801 entries, 0 to 81348
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    80801 non-null  int64
 1   订单号     80801 non-null  int64
 2   提交日期    80801 non-null  datetime64[ns]
 3   订单金额    80801 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB

In [19]:
# 查看预处理之后15年的数据
y_2015.describe()

,会员ID,订单号,提交日期,订单金额
count,3.057400e+04,3.057400e+04,30574,30574.000000
mean,2.921327e+10,4.020442e+09,2015-07-01 21:10:04.042650624,967.270965
min,2.670000e+02,3.000305e+09,2015-01-01 00:00:00,1.500000
25%,1.961657e+10,3.885746e+09,2015-04-02 00:00:00,59.700000
50%,3.754532e+10,4.117491e+09,2015-07-02 00:00:00,142.000000
75%,3.923630e+10,4.234853e+09,2015-10-01 00:00:00,899.000000
max,3.954613e+10,4.282025e+09,2015-12-31 00:00:00,111750.000000
std,1.384598e+10,2.630518e+08,NaN,2073.397861

In [20]:
# 查看预处理之后16年的数据
y_2016.describe()

,会员ID,订单号,提交日期,订单金额
count,4.100100e+04,4.100100e+04,41001,41001.000000
mean,2.910772e+10,4.313582e+09,2016-07-01 16:37:53.739664640,963.542790
min,8.100000e+01,4.282026e+09,2016-01-01 00:00:00,1.500000
25%,1.943201e+10,4.309457e+09,2016-04-01 00:00:00,65.000000
50%,3.740237e+10,4.317545e+09,2016-07-02 00:00:00,149.000000
75%,3.923184e+10,4.321133e+09,2016-10-01 00:00:00,898.000000
max,3.954554e+10,4.324911e+09,2016-12-31 00:00:00,174900.000000
std,1.388571e+10,1.094832e+07,NaN,2485.642632

In [21]:
# 查看预处理之后17年的数据
y_2017.describe()

,会员ID,订单号,提交日期,订单金额
count,5.045100e+04,5.045100e+04,50451,50451.000000
mean,2.884214e+10,4.332469e+09,2017-07-02 02:16:12.301837568,970.990793
min,2.780000e+02,4.324911e+09,2017-01-01 00:00:00,1.500000
25%,1.870549e+10,4.328416e+09,2017-04-01 00:00:00,65.000000
50%,3.692362e+10,4.331989e+09,2017-07-02 00:00:00,155.000000
75%,3.923070e+10,4.337528e+09,2017-10-02 00:00:00,899.000000
max,3.954554e+10,4.338764e+09,2017-12-31 00:00:00,123609.000000
std,1.408666e+10,4.404894e+06,NaN,2185.446995

In [22]:
# 查看预处理之后18年的数据
y_2018.describe()

,会员ID,订单号,提交日期,订单金额
count,8.080100e+04,8.080100e+04,80801,80801.000000
mean,2.905571e+10,4.348372e+09,2018-07-01 18:16:22.948230912,973.119528
min,2.780000e+02,4.338764e+09,2018-01-01 00:00:00,1.500000
25%,1.919622e+10,4.345654e+09,2018-04-01 00:00:00,68.000000
50%,3.749326e+10,4.349448e+09,2018-07-01 00:00:00,151.700000
75%,3.923398e+10,4.351641e+09,2018-10-02 00:00:00,925.000000
max,3.954614e+10,4.354235e+09,2018-12-31 00:00:00,174900.000000
std,1.402185e+10,4.185250e+06,NaN,2210.983968

In [23]:
# 添加参考日期作为计算购买间隔的标准(以店铺开业的最后一天作为购买一起的最大值 每年的最后一天设置一个参考点)
# 只能在合并表之前进行操作 不然回导致 参考时间设置 可能导致出现 全是 最新日期的情况 实例: 15年的提交日期 参考时间 为 18年开业的最后一天
y_2015['year_data_max']=y_2015['提交日期'].max()
y_2016['year_data_max']=y_2016['提交日期'].max()
y_2017['year_data_max']=y_2017['提交日期'].max()
y_2018['year_data_max']=y_2018['提交日期'].max()

In [24]:
# 为了后续操作数据的方便将四个表进行合并
df_concat=pd.concat([y_2015,y_2016,y_2017,y_2018],ignore_index=True)   # 合并表单之后需要重置索引
df_concat

               会员ID         订单号       提交日期    订单金额 year_data_max
0       15278002468  3000304681 2015-01-01   499.0    2015-12-31
1       39236378972  3000305791 2015-01-01  2588.0    2015-12-31
2       38722039578  3000641787 2015-01-01   498.0    2015-12-31
3       11049640063  3000798913 2015-01-01  1572.0    2015-12-31
4       35038752292  3000821546 2015-01-01    10.1    2015-12-31
...             ...         ...        ...     ...           ...
202822  39229485704  4354225182 2018-12-31   249.0    2018-12-31
202823  39229021075  4354225188 2018-12-31    89.0    2018-12-31
202824  39288976750  4354230034 2018-12-31    48.5    2018-12-31
202825     26772630  4354230163 2018-12-31  3196.0    2018-12-31
202826  39455580335  4354235084 2018-12-31  2999.0    2018-12-31

[202827 rows x 5 columns]

In [25]:
# 为了号区分 给新合并的表格添加年份信息 标注 数据的记录年份
df_concat['year']=df_concat['提交日期'].dt.year   # .dt.year 可以直接从 datatime类型的数据中获取年份信息
df_concat

               会员ID         订单号       提交日期    订单金额 year_data_max  year
0       15278002468  3000304681 2015-01-01   499.0    2015-12-31  2015
1       39236378972  3000305791 2015-01-01  2588.0    2015-12-31  2015
2       38722039578  3000641787 2015-01-01   498.0    2015-12-31  2015
3       11049640063  3000798913 2015-01-01  1572.0    2015-12-31  2015
4       35038752292  3000821546 2015-01-01    10.1    2015-12-31  2015
...             ...         ...        ...     ...           ...   ...
202822  39229485704  4354225182 2018-12-31   249.0    2018-12-31  2018
202823  39229021075  4354225188 2018-12-31    89.0    2018-12-31  2018
202824  39288976750  4354230034 2018-12-31    48.5    2018-12-31  2018
202825     26772630  4354230163 2018-12-31  3196.0    2018-12-31  2018
202826  39455580335  4354235084 2018-12-31  2999.0    2018-12-31  2018

[202827 rows x 6 columns]

In [26]:
# 根据参考日期获取出用户距离上次购买的间隔
df_concat['time_interval']=df_concat['year_data_max']-df_concat['提交日期']
df_concat
# 为了后期操作相变将time_interval改为整数形式
df_concat['time_interval'] = df_concat['time_interval'].dt.days

In [27]:
# 根据 会员ID 和 year 来进行分类 获取 每年 的消费金额,购买次数和购买的最小间隔 以此来进行评分  即 RFM
# RFM   recency(最近一个的购买时间)   frequency(购买次数) monetary(购买金额)
rfm_gb = df_concat.groupby(['year','会员ID'],as_index=False).agg({
    'time_interval':'min',
     '订单号':'count',
    '订单金额':'sum'
})
rfm_gb

        year         会员ID  time_interval  订单号    订单金额
0       2015          267            197    2   105.0
1       2015          282            251    1    29.7
2       2015          283            340    1  5398.0
3       2015          343            300    1   118.0
4       2015          525             37    3   213.0
...      ...          ...            ...  ...     ...
148586  2018  39538034299            272    1    49.0
148587  2018  39538034662            189    1  3558.0
148588  2018  39538035729            179    1  3699.0
148589  2018  39545237824            275    1    49.0
148590  2018  39546136285            163    1    19.9

[148591 rows x 5 columns]

In [28]:
# 修改列名
rfm_gb.columns=['year','会员ID','r','f','m']
rfm_gb

        year         会员ID    r  f       m
0       2015          267  197  2   105.0
1       2015          282  251  1    29.7
2       2015          283  340  1  5398.0
3       2015          343  300  1   118.0
4       2015          525   37  3   213.0
...      ...          ...  ... ..     ...
148586  2018  39538034299  272  1    49.0
148587  2018  39538034662  189  1  3558.0
148588  2018  39538035729  179  1  3699.0
148589  2018  39545237824  275  1    49.0
148590  2018  39546136285  163  1    19.9

[148591 rows x 5 columns]

In [29]:
# 查看rfm的数据
rfm_gb.iloc[:,2:].describe().T
# T 将行和列互换便于观察数据

      count         mean          std  min   25%    50%     75%       max
r  148591.0   165.524043   101.988472  0.0  79.0  156.0   255.0     365.0
f  148591.0     1.365002     2.626953  1.0   1.0    1.0     1.0     130.0
m  148591.0  1323.741329  3753.906883  1.5  69.0  189.0  1199.0  206251.8

In [30]:
# 数据查看完毕开始划分区间 并 给出frm评分 
# r 最近一次购买的时间 值越小分越高
# f 购买次数 值越大分越高
# m 购买金额 值越大分越高

In [31]:
# 思路一:系统自动划分区间 (了解)
# 使用cut()函数可以让系统自动划分区间 参数一是 要划分的区间   参数二 bins是划分的区间个数
pd.cut(rfm_gb['r'],bins=3)

0         (121.667, 243.333]
1           (243.333, 365.0]
2           (243.333, 365.0]
3           (243.333, 365.0]
4          (-0.365, 121.667]
                 ...
148586      (243.333, 365.0]
148587    (121.667, 243.333]
148588    (121.667, 243.333]
148589      (243.333, 365.0]
148590    (121.667, 243.333]
Name: r, Length: 148591, dtype: category
Categories (3, interval[float64, right]): [(-0.365, 121.667] < (121.667, 243.333] < (243.333, 365.0]]

In [32]:
# 思路二: 自己设置区间 包右不包左
r_bins=[-1,79,255,365]
f_bins=[0,2,5,130]
m_bins=[0,69,1199,206252]
# 给 r 划分区间并打分   值越小分越高
rfm_gb['r_label']=pd.cut(rfm_gb['r'],bins=r_bins,labels=[i for i in range(len(r_bins)-1,0,-1)])
# 给 f 划分区间并打分   值越大分越高
rfm_gb['f_label']=pd.cut(rfm_gb['f'],bins=f_bins,labels=[i for i in range(1,len(f_bins))])
# 给 m 划分区间并打分   值越大分越高
rfm_gb['m_label']=pd.cut(rfm_gb['m'],bins=m_bins,labels=[i for i in range(1,len(m_bins))])
rfm_gb

        year         会员ID    r  f       m r_label f_label m_label
0       2015          267  197  2   105.0       2       1       2
1       2015          282  251  1    29.7       2       1       1
2       2015          283  340  1  5398.0       1       1       3
3       2015          343  300  1   118.0       1       1       2
4       2015          525   37  3   213.0       3       2       2
...      ...          ...  ... ..     ...     ...     ...     ...
148586  2018  39538034299  272  1    49.0       1       1       1
148587  2018  39538034662  189  1  3558.0       2       1       3
148588  2018  39538035729  179  1  3699.0       2       1       3
148589  2018  39545237824  275  1    49.0       1       1       1
148590  2018  39546136285  163  1    19.9       2       1       1

[148591 rows x 8 columns]

In [33]:
# 计算rfm的值
# 因为数据为int类型不能拼接先要转化为str类型
rfm_gb['r_label']=rfm_gb['r_label'].astype(str)
rfm_gb['f_label']=rfm_gb['f_label'].astype(str)
rfm_gb['m_label']=rfm_gb['m_label'].astype(str)
rfm_gb['rfm_group']=rfm_gb['r_label']+rfm_gb['f_label']+rfm_gb['m_label']
rfm_gb

        year         会员ID    r  f       m r_label f_label m_label rfm_group
0       2015          267  197  2   105.0       2       1       2       212
1       2015          282  251  1    29.7       2       1       1       211
2       2015          283  340  1  5398.0       1       1       3       113
3       2015          343  300  1   118.0       1       1       2       112
4       2015          525   37  3   213.0       3       2       2       322
...      ...          ...  ... ..     ...     ...     ...     ...       ...
148586  2018  39538034299  272  1    49.0       1       1       1       111
148587  2018  39538034662  189  1  3558.0       2       1       3       213
148588  2018  39538035729  179  1  3699.0       2       1       3       213
148589  2018  39545237824  275  1    49.0       1       1       1       111
148590  2018  39546136285  163  1    19.9       2       1       1       211

[148591 rows x 9 columns]

In [34]:
# 保存数据到excel文件中
rfm_gb.to_excel('rfm分析结果.xlsx',index=False)

In [35]:
# 将数据导入MySQL数据库
# 创建SQLAlchemy引擎
engine = create_engine('mysql+pymysql://root:123456@localhost:3306/rfm案例?charset=utf8mb4')
# 将数据导入mysql数据库
rfm_gb.to_sql('rfm_table',engine,index=False,if_exists='append')

148591

In [36]:
pd.read_sql('select * from rfm_table',engine)

        year         会员ID    r  f       m r_label f_label m_label rfm_group
0       2015          267  197  2   105.0       2       1       2       212
1       2015          282  251  1    29.7       2       1       1       211
2       2015          283  340  1  5398.0       1       1       3       113
3       2015          343  300  1   118.0       1       1       2       112
4       2015          525   37  3   213.0       3       2       2       322
...      ...          ...  ... ..     ...     ...     ...     ...       ...
148586  2018  39538034299  272  1    49.0       1       1       1       111
148587  2018  39538034662  189  1  3558.0       2       1       3       213
148588  2018  39538035729  179  1  3699.0       2       1       3       213
148589  2018  39545237824  275  1    49.0       1       1       1       111
148590  2018  39546136285  163  1    19.9       2       1       1       211

[148591 rows x 9 columns]

In [45]:
# 进行数据可视化
data = rfm_gb.groupby(['year','rfm_group'],as_index=False).agg({'会员ID':'count'})
data.columns=['year','rfm.group','number']
data['number']=data['number'].astype(int)

In [47]:
# 进行绘制
# 5.3 绘制图形
# 颜色池
range_color = ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf',
               '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']

range_max = int(data['number'].max())
c = (
    Bar3D()#设置了一个3D柱形图对象
    .add(
        "",#图例
        [d.tolist() for d in data.values],#数据
        xaxis3d_opts=opts.Axis3DOpts(type_="category", name='分组名称'),#x轴数据类型，名称，rfm_group
        yaxis3d_opts=opts.Axis3DOpts(type_="category", name='年份'),#y轴数据类型，名称，year
        zaxis3d_opts=opts.Axis3DOpts(type_="value", name='会员数量'),#z轴数据类型，名称，number
    )
    .set_global_opts( # 全局设置
        visualmap_opts=opts.VisualMapOpts(max_=range_max, range_color=range_color), #设置颜色，及不同取值对应的颜色
        title_opts=opts.TitleOpts(title="RFM分组结果"),#设置标题
    )
)
c.render() 		      # 数据保存到本地的网页中.
# c.render_notebook() #在notebook中显示

'C:\\Users\\Lenovo\\Desktop\\python学习\\RFM案例\\render.html'